.Catalog {
  height: 100vh;
  & .Title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    margin: 0 0 2rem 0;
  }

  & .Container {
    height: max-content;
    display: grid;
    grid-template-columns: repeat(5, 10rem);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;
  }
}
